* {
  box-sizing: border-box;
list-style: none;
}
body {
  background-color: whitesmoke;
  display: block;
}
html {
  scroll-behavior: smooth;
}
div {
  unicode-bidi: isolate;
}

:root {
  --tgreen: #04aa6d;
}
.t-green {
  background-color: var(--tgreen);
}
.ct-green {
  color: var(--tgreen);
}
.an-color {
  color: #03754b;
}

.container {
  max-width: 100%;
}
.heading:hover {
  color: var(--tgreen);
}

/* Banner */
.banner {
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/edu-1-removebg-preview.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
  position: relative;
}
.archivo-font {
  font-family: 'Archivo Black', sans-serif;
  font-style: normal;
}
.nav-social-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.15);
}
.nav-social-btn:hover {
  background-color: -var;
}
.nav-social-btn a i {
  color: var(--tgreen);
}
.nav-social-btn:hover a i {
  color: white;
}

.col-navMenu,
.h-col-navMenu {
  background-color: var(--tgreen);
  position: absolute;
  top: 4.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  transition: all 0.4s;
}
.col-navMenu {
  height: 24rem;
}
.h-col-navMenu {
  height: 0;
}

.btn-angle {
  transform: skewX(-20deg);
}
.btn--angle {
  transform: skewX(20deg);
}

@keyframes bannerAnim {
  0% {
    transform: translateY(37.5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.banner-anim {
  animation-name: bannerAnim;
  animation-delay: 0.2s;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
}

/* Benifit */
@keyframes benifit-anim {
  0% {
    opacity: 0;
    transform: translateY(12.5%);
  }
  20% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.benifit-div {
  animation-name: benifit-anim;
  animation-duration: 1.2s;
  animation-delay: 0;
  animation-timing-function: ease-out;
}
.desc-div:hover {
  background-color: var(--tgreen);
  color: white;
}
.desc-div:hover div p {
  color: white;
}

.desc-img {
  width: 4rem;
}

/* Our Popular Courses */
@keyframes courses-anim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(95vw - 93rem));
  }
  100% {
    transform: translateX(0);
  }
}

.card {
  animation-name: courses-anim;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
.p-courses:hover .card {
  animation-play-state: paused;
}
.p-courses::-webkit-scrollbar {
  display: none;
}

/* All Course */
.course:hover i,
.course:hover h3 {
  color: white;
}
.course:hover p {
  background-color: whitesmoke;
}

/* Responsive */
/* md */
@media screen and (min-width: 640px) {
  .card {
    animation-duration: 25s;
  }
}
/* mlg */
@media screen and (min-width: 992px) {
  @keyframes courses-anim992 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(90vw - 93rem));
    }
    100% {
      transform: translateX(0);
    }
  }

  .card {
    animation-name: courses-anim992;
    animation-duration: 20s;
  }
}
/* 75rem = (100vw-1)*0.9 */
@media screen and (min-width: 84.3333rem) {
  @keyframes courses-anim75 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(-17rem));
    }
    100% {
      transform: translateX(0);
    }
  }

  .card {
    animation-name: courses-anim75;
    animation-duration: 15s;
  }
}

/* lg */
@media screen and (min-width: 1024px) {
}
/* 74rem */
@media screen and (min-width: 1184px) {
}
/* xl */
@media screen and (min-width: 1280px) {
}
